@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-file-upload-button {
  background-color: #139f9b;
  padding: 10px;
  border-radius: 50px;
  color: whitesmoke;
  border: none;
}

::-webkit-file-upload-button:hover {
  background-color: #0e122b;
}
