@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-file-upload-button {
  background-color: #63b6b3;
  padding: 10px;
  border-radius: 50px;
  color: whitesmoke;
  border: none;
}

::-webkit-file-upload-button:hover {
  background-color: #0e122b;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}
